@if (ShowComponent)
{
    @if (BudgetComponentModel is not null)
    {
        <div>Start date: @BudgetComponentModel.StartDate.ToString(Constants.DATE_FORMAT)</div>
        <div>End date: @BudgetComponentModel.EndDate.ToString(Constants.DATE_FORMAT)</div>
    }
    @if (TransactionCategories.Any())
    {
        <div style="margin:10px 0 10px 0">
            <button @onclick="AddItem" class="btn btn-info table-btn"><i class="fas fa-plus" />Add budget item</button>

            @if (BudgetComponentModel?.BudgetItems is not null && !BudgetComponentModel.BudgetItems.Any() && BudgetComponentModel.IsInUse is false)
            {
                <button @onclick="CopyBudgetInUseItems" style="margin-left:10px" class="btn btn-info table-btn"><i class="fas fa-plus" />Copy budget in use items</button>
            }
        </div>
    }
    else
    {
        <div class="alert-info">Please create categories in order to add them to the budget.</div>
    }

    if (this.BudgetComponentModel?.BudgetItems is not null && this.BudgetComponentModel.BudgetItems.Any())
    {
        <div class="row">
            <div class="col-md-12">
                <RadzenDataGrid AllowFiltering="false" FilterMode="Radzen.FilterMode.Advanced" AllowPaging="false"
                                AllowSorting="false" Data="@BudgetComponentModel.BudgetItems" TItem="MoneySaver.SPA.Models.BudgetItemModel" AllowColumnResize="false">
                    <Columns>
                        <RadzenDataGridColumn Width="300px" TItem="MoneySaver.SPA.Models.BudgetItemModel" Property="TransactionCategory" Title="Category" Filterable="false" Sortable="false">
                            <Template Context="data">
                                @data.TransactionCategory.AlternativeName
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="MoneySaver.SPA.Models.BudgetItemModel" Property="Progress" Width="400px" Title="Progress" Filterable="false" Sortable="false">
                            <Template Context="data">
                                <div class="progress">
                                    <div class="progress-bar @BudgetComponent.CheckLevel(data.Progress)"
                                         role="progressbar"
                                         style="width: @(data.Progress)%"
                                         aria-valuenow="@data.Progress"
                                         aria-valuemin="0"
                                         aria-valuemax="100">
                                    </div>
                                </div>
                            </Template>
                            <FooterTemplate>
                                <b>Total: </b>
                            </FooterTemplate>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="MoneySaver.SPA.Models.BudgetItemModel" Property="LimitAmmount" Title="Amount" >
                            <Template Context="data">

                                @string.Format("{0:0.00}", data.LimitAmount)
                            </Template>
                            <FooterTemplate>
                                @string.Format("{0:0.00}", BudgetComponentModel.LimitAmount)
                            </FooterTemplate>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="MoneySaver.SPA.Models.BudgetItemModel" Property="SpentAmmount" Title="Spent" >
                            <Template Context="data">
                                @string.Format("{0:0.00}", data.SpentAmount)
                            </Template>
                            <FooterTemplate>
                                @string.Format("{0:0.00}", BudgetComponentModel.TotalSpentAmmount)
                            </FooterTemplate>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="MoneySaver.SPA.Models.BudgetItemModel" Title="Left" >
                            <Template Context="data">
                                @{
                                    var amountLeft = data.LimitAmount - data.SpentAmount;
                                }
                                <span style="color:@(BudgetComponent.CheckColor(amountLeft))">
                                    @string.Format("{0:0.00}", amountLeft)
                                </span>
                            </Template>
                            <FooterTemplate>
                                @string.Format("{0:0.00}", BudgetComponentModel.TotalLeftAmount)
                            </FooterTemplate>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="MoneySaver.SPA.Models.Transaction" Property="AdditionalNote" Filterable="false" Sortable="false" Title="Notes" />
                        <RadzenDataGridColumn Width="100px" TItem="MoneySaver.SPA.Models.BudgetItemModel" Title="" Filterable="false" Sortable="false">
                            <Template Context="budgetItem">
                                <RadzenButton Click="@(() => EditItem(budgetItem))" Icon="edit" ButtonStyle="Radzen.ButtonStyle.Secondary" />
                                <RadzenButton Click="@(()=> RemoveItem(budgetItem.Id))" Icon="close" ButtonStyle="Radzen.ButtonStyle.Danger" />
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
            </div>
        </div>                   
    }
    
    <BudgetItemDialog @ref="BudgetItemDialog" CloseEventCallback="@AddItem_OnDialogClose" BudgetId="@BudgetComponentModel.Id" ТransactionCategories="@TransactionCategories?.ToArray()"></BudgetItemDialog>

}
